{% extends 'base.html' %}
{% load static %}

{% block title %}Sutom - le jeu préféré des français{% endblock %}

{% block navbar %}
    <nav>
        <ul class="nav masthead-nav">
            <li><a href="{% url 'home' %}">Accueil</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'play' %}">Jouer</a></li>
        {% endif %}
            <li class="active"><a href="{% url 'leaderboard' %}">Classement</a></li>
            {% if user.is_superuser %}<li><a href="#"> </a></li>
                <li><a href="{% url 'admin_list_mot' %}">Admin - Liste des mots</a></li>{% endif %}
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <section style="display: flex; gap: 15px; align-items: center; position: fixed; top: 25%;">
        <h1 class="text-white text-left">Classement général</h1>
    </section>

    <section style="display: block; position: fixed; width: 98%; height: 63%; overflow: auto; top: 35%;">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Joueur</th>
                <th scope="col">Points totaux</th>
                <th scope="col">Nombre de parties jouées</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <th scope="row">{{ item.position }}</th>
                    <td>
                        <img width="32px" height="32px"
                             class="account-img"
                             style="border-radius: 5px"
                             src="{% if item.user.profile.avatar.url == "/public/user.png" %} /public/avatars/user.png {% else %} {{ item.user.profile.avatar.url }} {% endif %}"
                        />
                        {{ item.user.username|upper }}</td>
                    <td style="max-width: 30%">{{ item.total_points }} points</td>
                    <td style="max-width: 30%">{{ item.total_games }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}